*.java      text=auto
*.xml       text=auto
*.pom       text=auto
*.wsdl      text=auto
*.WSDL      text=auto
*.xsd       text=auto
*.xsl       text=auto
*.XSL       text=auto
*.txt       text=auto
*.pom       text=auto
*.css       text=auto
*.htm       text=auto
*.html      text=auto
*.css       text=auto
*.sh        eol=lf
*.bat       eol=crlf
*.cmd       eol=crlf
*.bmp       -text
*.doc       -text
*.jpg       -text
*.gif       -text
*.png       -text
*.class     -text
*.rtf       -text
*.zip       -text
*.jar       -text
*.war       -text
.classpath  text=auto
.project    text=auto
