# build directories
/target
/build
/dist

# Macintosh files
**/**/.DS_Store
.DS_Store

# Other
nbactions.xml
/reports
/src/main/webapp/jsc/*.js
/src/main/webapp/repository

# IDE/Eclipse settings
/.project
/.classpath
/.settings
/.externalToolBuilders


#I think that this is where MANIFEST.MF should go according to maven specs. 
#For now, I will ignore it. Esteban
/src/main/webapp/META-INF/MANIFEST.MF
