/* MOVI ModelViewer styles */

.movi-scrollbox {
	overflow: auto;
	height: 100%;
	position: relative;
}

.movi-modelimg {
	top: 0px;
	left: 0px;
}

.movi-canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

.movi-node {
	position: absolute;
	z-index: 2;
}

.movi-edge {
	position: absolute;
	z-index: 2;
}


/* MOVI Marker styles */

.movi-marker {
    position: absolute;
    z-index: 3;
}


/* MOVI Annotation styles */

.movi-bubble-hidden {
	display:none;
}

.movi-bubble-visible {
	display:block;
	position:absolute;
	min-width: 100px;
	margin-top: 29px; margin-left: -20px;
	top:60%; left:100%;
	filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
	z-index: 3;
}

.movi-bubble-ul {
	background: url('../img/bubble-ul.gif') no-repeat 0 0;
}

.movi-bubble-ur {
	background: url('../img/bubble-ur.gif') no-repeat 100% 0;
}

.movi-bubble-ll {
	background: url('../img/bubble-ll.gif') no-repeat 0 100%;
	
}

.movi-bubble-lr {
	background: url('../img/bubble-lr.gif') no-repeat 100% 100%;
}

.movi-bubble-bt {
	margin-left: 6px; margin-right: 6px;
	height: 4px;
	background-color: #D6D6D6; 
	border-top: 2px solid #777777;
}

.movi-bubble-bb {
	margin-left: 6px; margin-right: 6px;
	height: 4px;
	background-color: #D6D6D6; 
	border-bottom: 2px solid #777777;
}

.movi-bubble-ar {
	position: absolute;
	left: 20px; top: -29px;
	width: 45px; height: 31px;
	background: url('../img/bubble-arrow.gif') no-repeat 0 0;
}

.movi-bubble-bc {
	padding-left: 4px; padding-right: 4px;
	background-color: #D6D6D6; 
	border-left: 2px solid #777777;
	border-right: 2px solid #777777;	
}

.movi-bubble-closebutton {
	position: absolute;
	right: 4px; top: 5px;
	width: 10px; height: 10px;
	background: url('../img/bubble-closebutton.gif') no-repeat 0 0;
	cursor: pointer;
}


/* MOVI ModelNavigator styles */

.movi-navigator {
    position: relative;
    cursor: crosshair;
}

.movi-navigator-clippingrect {
	position: absolute;
	border: 1px solid black;
	cursor: move;
}

.movi-navigator-img {
	width: 100%;
	height: 100%;
}


/* MOVI ShapeSelect styles */

.movi-select-rect {
	position: absolute;
	border: 2px solid red;
	z-index: 2;
}

.movi-highlight-rect {
	position: absolute;
	border: 1px dotted red;
	z-index: 1;
}