<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 id="oryx" version="2.4">
    
    <display-name>PoEM</display-name>
    
    <servlet>
        <display-name>PoEM Servlet</display-name>
        <servlet-name>PoEMServlet</servlet-name>
        <servlet-class>org.b3mn.poem.PoEMServlet</servlet-class>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>PoEMServlet</servlet-name>
        <url-pattern>/poem/*</url-pattern>
    </servlet-mapping>
	
	<!-- Registering OpenID Consumer Servlet for Authentication -->
	<servlet>
        <display-name>Oryx OpenID Authentication Servlet</display-name>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>org.oryxeditor.server.auth.OpenIDAuthenticationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/consumer</url-pattern>
    </servlet-mapping>

	<!-- Load jstl, needed for OpenID Authentication -->
    <jsp-config>
        <taglib>
            <taglib-uri>
                http://java.sun.com/jstl/core
            </taglib-uri>
            <taglib-location>
                /WEB-INF/c.tld
            </taglib-location>
        </taglib>
    </jsp-config>

</web-app>
