<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:b3mn="http://b3mn.org/2007/b3mn" xmlns:ext="http://b3mn.org/2007/ext" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:atom="http://b3mn.org/2007/atom+xhtml">
    <head profile="http://purl.org/NET/erdf/profile">
        <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/"/>
        <link rel="schema.dcTerms" href="http://purl.org/dc/terms/ "/>
        <link rel="schema.b3mn" href="http://b3mn.org"/>
        <link rel="schema.oryx" href="http://oryx-editor.org/"/>
        <link rel="schema.raziel" href="http://raziel.org/"/>
        <base href="http://localhost:8080/backend/poem/new"/>
    </head>
    <body>
        <div id="oryx-canvas123" class="-oryx-canvas">
            <span class="oryx-type">http://b3mn.org/stencilset/petrinet#Diagram</span>
            <span class="oryx-title"></span>
            <span class="oryx-engine">false</span>
            <span class="oryx-version"></span>
            <span class="oryx-author"></span>
            <span class="oryx-language">English</span>
            <span class="oryx-creationdate">10/07/07</span>
            <span class="oryx-modificationdate">10/07/07</span>
            <span class="oryx-documentation">
            </span>
            <span class="oryx-mode">
                writable
            </span>
            <span class="oryx-mode">
                fullscreen
            </span>
            <a rel="oryx-stencilset" href="/oryx/stencilsets/petrinets/petrinet.json"/>
            #foreach( $transition in $labeledTransitions )
                <a rel="oryx-render" href="#$transition.getId()"/>
            #end
            #foreach( $transition in $nopTransitions )
                <a rel="oryx-render" href="#$transition.getId()"/>
            #end
            #foreach( $arc in $arcs )
                <a rel="oryx-render" href="#$arc.getId()"/>
            #end
            #foreach( $place in $places )
                <a rel="oryx-render" href="#$place.getId()"/>
            #end
        </div>
        
        #foreach( $transition in $labeledTransitions )
            <div id="$transition.getId()">
                <span class="oryx-type">http://b3mn.org/stencilset/petrinet#Transition</span>
                <span class="oryx-id"></span>
                <span class="oryx-title">$transition.getLabel()</span>
                <span class="oryx-href"></span>
                <span class="oryx-bounds">$transition.getBounds().toString()</span>
                #foreach( $arc in $transition.getOutgoingFlowRelationships() )
                    <a rel="raziel-outgoing" href="#$arc.getId()"/>
                #end
                <a rel="raziel-parent" href="#oryx-canvas123"/>
            </div>
        #end
        
        #foreach( $transition in $nopTransitions )
            <div id="$transition.getId()">
                <span class="oryx-type">http://b3mn.org/stencilset/petrinet#VerticalEmptyTransition</span>
                <span class="oryx-id"></span>
                <span class="oryx-title"></span>
                <span class="oryx-href"></span>
                <span class="oryx-bounds">$transition.getBounds().toString()</span>
                #foreach( $arc in $transition.getOutgoingFlowRelationships() )
                    <a rel="raziel-outgoing" href="#$arc.getId()"/>
                #end
                <a rel="raziel-parent" href="#oryx-canvas123"/>
            </div>
        #end
       
        #foreach( $place in $places )
            <div id="$place.getId()">
                <span class="oryx-type">http://b3mn.org/stencilset/petrinet#Place</span>
                <span class="oryx-id"></span>
                <span class="oryx-title"></span>
                <span class="oryx-href"></span>
                <span class="oryx-bounds">$place.getBounds().toString()</span>
                #foreach( $arc in $place.getOutgoingFlowRelationships() )
                    <a rel="raziel-outgoing" href="#$arc.getId()"/>
                #end
                <a rel="raziel-parent" href="#oryx-canvas123"/>
            </div>
        #end
        
        #foreach( $arc in $arcs )
            <div id="$arc.getId()">
                <span class="oryx-type">http://b3mn.org/stencilset/petrinet#Arc</span>
                <span class="oryx-id"></span>
                <span class="oryx-label"></span>
                <a rel="raziel-outgoing" href="#$arc.getTarget().getId()"/>
				<a rel="raziel-parent" href="#oryx-canvas123"/>
                <span class="oryx-dockers">$arc.getCalculatedBounds().toString(" ") # </span>
                <a rel="raziel-target" href="#$arc.getTarget().getId()"/>
            </div>
        #end
    </body>
</html>