<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/poem</property>
        <property name="connection.username">poem</property>
        <property name="connection.password"></property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">20</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

        <!-- Echo all executed SQL to stdout OFF -->
        <property name="show_sql">true</property>

        <mapping class="org.b3mn.poem.Identity"/>
        <mapping class="org.b3mn.poem.Representation"/>
        <mapping class="org.b3mn.poem.Plugin"/>
		<mapping class="org.b3mn.poem.Interaction"/>
		<mapping class="org.b3mn.poem.Structure"/>
		<mapping class="org.b3mn.poem.Subject"/>
		<mapping class="org.b3mn.poem.Setting"/>	
		<mapping class="org.b3mn.poem.TagDefinition"/>
		<mapping class="org.b3mn.poem.TagRelation"/>
		<mapping class="org.b3mn.poem.ModelRating"/>
		<mapping class="org.b3mn.poem.Friend"/>	
		<mapping resource="Access.hbm.xml"/>		
    </session-factory>

</hibernate-configuration>