<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 id="oryx" version="2.4">
 
    <context-param>
        <param-name>proxy-host-name</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>proxy-port</param-name>
        <param-value></param-value>
    </context-param>
    
    <display-name>PoEM</display-name>
	
	<!-- Authentication Filter -->
	<filter>
        <filter-name>
            AuthenticationFilter
        </filter-name>
        <filter-class>
            org.b3mn.poem.security.filter.AuthenticationFilter
        </filter-class>
    </filter>
	
    <filter-mapping>
        <filter-name>
            AuthenticationFilter
        </filter-name>
        <url-pattern>
            /poem/*
        </url-pattern>
    </filter-mapping>
	
	<!-- Filter for SAML Single-Sign On Support -->
	<!--<filter>
        <filter-name>
            JICFilter
        </filter-name>
        <filter-class>
            de.fraunhofer.fokus.jic.filter.JICFilter
        </filter-class>
        <init-param>
            <param-name>
                request_param_name
            </param-name>
            <param-value>
                xmltoken
            </param-value>
        </init-param>
        <init-param>
            <param-name>
                userid_request_attr
            </param-name>
            <param-value>
                userdata
            </param-value>
        </init-param>
    </filter>
	
    <filter-mapping>
        <filter-name>
            JICFilter
        </filter-name>
        <url-pattern>
            /poem/saml
        </url-pattern>
    </filter-mapping>-->
	
    <servlet>
        <display-name>Oryx Dispatcher</display-name>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>org.b3mn.poem.Dispatcher</servlet-class>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/poem/*</url-pattern>
    </servlet-mapping>
	
	<!-- the number within the session-timout element must be expressed in
		minutes. it is now 24 hours. -->
	<session-config>
		<session-timeout>1440</session-timeout>
	</session-config>
	
	<mime-mapping>
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>json</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	
	<!-- Set Favourites Icon MIME-Type --> 
	<mime-mapping>
	    <extension>ico</extension>
	    <mime-type>image/x-icon</mime-type>
	</mime-mapping>

	<!--  
    <context-param>
    	<description>Analytics Snippet</description>
    	<param-name>ANALYTICS_SNIPPET</param-name>
    	<param-value><![CDATA[
		  ... 	
    	]]></param-value>
    </context-param>
    -->

</web-app>
